.scrollbar > .slider {
    background: rgba(121, 121, 121, 0.4);
}
.action-item.focused > .action-menu-item {
	color: rgb(255,255,255);
	background-color: rgb(4,54,94);
}

.workbench-hover { border: 1px solid #454545; }

.line-through {
	text-decoration: line-through
}
.underline {
	text-decoration: underline;
}
.italic {
	font-style: italic;
}
