a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
svg:not(:root) {
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

*, *:focus {
    outline: 0;
}

[contenteditable] {
    -webkit-tap-highlight-color: transparent;
}
  
[contenteditable]:empty:before {
    display: block;
    content: attr(placeholder);
}