body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 15px;
	user-select: none;
	-webkit-user-select: none;
}

*, *:focus {
    outline: 0;
}

[contenteditable] {
    -webkit-tap-highlight-color: transparent;
}

[contenteditable]:empty:before {
    display: block;
    content: attr(placeholder);
}
